Repository ansys/grantami-bomanalytics: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, localhost-examples

.pre-commit-config.yaml:

ci:
  skip: [mypy-code, localhost-examples]

repos:

- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    exclude: ^examples/|doc/|.ipython/


- repo: https://github.com/pycqa/isort
  rev: 6.0.1
  hooks:
  - id: isort

- repo: https://github.com/PyCQA/flake8
  rev: 7.3.0
  hooks:
  - id: flake8

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    args: ["--ignore-words", "doc/styles/config/vocabularies/ANSYS/accept.txt", "--skip", "poetry.lock"]

- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: checks on code"
    entry: "python -m mypy"
    language: system
    types: [python]
    require_serial: true
    files: "^(src/)"

  - id: localhost-examples
    name: "Notebook localhost URL check"
    entry: "(?i)localhost"
    language: "pygrep"
    types: [text]
    files: "^examples/.*"


#- repo: https://github.com/pycqa/pydocstyle
#  rev: 6.3.0
#  hooks:
#  - id: pydocstyle
#    additional_dependencies: [tomli]
#    files: "^(src/)"

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-merge-conflict
  - id: debug-statements

# this validates our github workflow files
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.33.2
  hooks:
    - id: check-github-workflows

- repo: https://github.com/ansys/pre-commit-hooks
  rev: v0.5.2
  hooks:
    - id: add-license-headers
      args:
      - --start_year=2022
      files: '(src|tests)/.*\.(py)'

chore: update AUTHORS file
  AUTHORS
Due: none

chore: update LICENSE file
  LICENSE
Due: none

chore: adding changelog file 1070.maintenance.md [dependabot-skip]
  doc/changelog.d/1070.maintenance.md
  pyproject.toml
Due: none

Fix black config, add synopsys to allowed words
  doc/styles/config/vocabularies/ANSYS/accept.txt
  pyproject.toml
  tests/examples_expectations.py
  tests/test_query_builders/common.py
Due: none

Revert GUID changes
  tests/test_mocked_responses/test_specifications.py
  tests/test_mocked_responses/test_sustainability.py
  tests/test_query_builders/test_common_queries.py
Due: none

chore: Update missing or outdated files (#1070)
  AUTHORS
  LICENSE
  doc/changelog.d/1070.maintenance.md
Due: none

Narrow inspection comprehension
  src/ansys/grantami/bomanalytics/bom_types/_bom_reader.py
Due: mypy-code

chore: adding changelog file 1091.miscellaneous.md [dependabot-skip]
  doc/changelog.d/1091.miscellaneous.md
Due: none

Fix mypy 2.3.0 type error in _bom_reader.py dict comprehension (#1091)
  doc/changelog.d/1091.miscellaneous.md
  src/ansys/grantami/bomanalytics/bom_types/_bom_reader.py
  uv.lock
Due: mypy-code

Update database prep scripts
  cicd/1_get_cleaned_db_entries.py
  cicd/2_prepare_rs_db.py
  cicd/3_modify_custom_rs_db.py
  cicd/4_create_foreign_database.py
  cicd/5_link_mi_training.py
  cicd/_connection.py
  cicd/_utils.py
Due: none

Add 2027 R1 tests
  tests/conftest.py
  tests/examples_expectations.py
  tests/test_integration_tests.py
Due: none

chore: adding changelog file 1093.maintenance.md [dependabot-skip]
  doc/changelog.d/1093.maintenance.md
Due: none

Update scripts and tests for 2027 R1 (#1093)
  cicd/1_get_cleaned_db_entries.py
  cicd/2_prepare_rs_db.py
  cicd/3_modify_custom_rs_db.py
  cicd/4_create_foreign_database.py
  cicd/5_link_mi_training.py
  cicd/_connection.py
  cicd/_utils.py
  doc/changelog.d/1093.maintenance.md
  tests/conftest.py
  tests/examples_expectations.py
  tests/test_integration_tests.py
Due: none

Update ansys action SHA
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  .github/workflows/server_checks.yml
Due: none

chore: adding changelog file 1096.maintenance.md [dependabot-skip]
  doc/changelog.d/1096.maintenance.md
Due: none

Update ansys actions to 10.3.6 (#1096)
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  .github/workflows/server_checks.yml
  doc/changelog.d/1096.maintenance.md
Due: none

chore: update SECURITY.md file
  SECURITY.md
Due: none

chore: adding changelog file 1098.maintenance.md [dependabot-skip]
  doc/changelog.d/1098.maintenance.md
Due: none

chore: Update missing or outdated files (#1098)
  SECURITY.md
  doc/changelog.d/1098.maintenance.md
Due: none

Fix zizmore comment
  .github/workflows/ci_cd.yml
Due: none

chore: add missing dependabot group patterns for ipython, ipykernel, lxml
  .github/dependabot.yml
Due: none

chore: adding changelog file 1109.maintenance.md [dependabot-skip]
  doc/changelog.d/1109.maintenance.md
Due: none

Update dependabot groups (#1109)
  .github/dependabot.yml
  doc/changelog.d/1109.maintenance.md
Due: none

Drop support for python 3.10 and 3.11
  README.rst
  pyproject.toml
  uv.lock
Due: none

chore: adding changelog file 1116.maintenance.md [dependabot-skip]
  doc/changelog.d/1116.maintenance.md
Due: none

Remove 3.10 and 3.11 from CI
  .github/workflows/ci_cd.yml
Due: none

Drop support for python 3.10 and 3.11 (#1116)
  .github/workflows/ci_cd.yml
  README.rst
  doc/changelog.d/1116.maintenance.md
  pyproject.toml
  uv.lock
Due: none

chore: adding changelog file 1121.miscellaneous.md [dependabot-skip]
  doc/changelog.d/1121.miscellaneous.md
Due: none

Add # noqa
  tests/examples_expectations.py
Due: none

chore: adding changelog file 1121.documentation.md [dependabot-skip]
  doc/changelog.d/1121.documentation.md
Due: none

Fix cell numbering shift in 5-4 Processes example
  examples/5_Sustainability_summary/5-4_Processes.py
Due: localhost-examples

Remove extraneous blank line before jupytext cell marker
  examples/5_Sustainability_summary/5-4_Processes.py
Due: localhost-examples

Remove another blank line
  examples/5_Sustainability_summary/5-4_Processes.py
Due: localhost-examples

Modify the dataframe instead
  examples/5_Sustainability_summary/5-4_Processes.py
Due: localhost-examples

Fix broken test expectation for example 5-4 following pandas update (#1121)
  doc/changelog.d/1121.documentation.md
  examples/5_Sustainability_summary/5-4_Processes.py
Due: localhost-examples
